body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.estrutura {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " shadow shadow shadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " leftshadow box rightshadow"
    " lowshadow lowshadow lowshadow";
}

.shadow {
  grid-area: shadow;
}
@media (max-width: 700px) {
  .estrutura {
    background: rgba(255, 255, 255, 1);
  }
  .box {
    border-radius: none;
  }
}

.estrutura .shadow ul {
  display: flex;
  justify-content: space-around;
}
.estrutura .shadow ul li {
  font-size: 60px;
}
.box {
  grid-area: box;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.box main .google {
  margin-bottom: 20px;
}
.box main .apple {
  margin-bottom: 20px;
}
.box main .separaçao {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.box main .senha {
  margin-bottom: 20px;
}
